.review_section {
  padding-left: 10rem;
  padding-top: 10rem;
  padding-bottom: 10rem;
}
.review_section_header {
  font-size: 3vw;
  font-weight: 600;
}
.reviews_container {
  margin-top: 4rem;
  display: flex;
  min-width: 1200;
  overflow-x: scroll;
  gap: 10px;
}
.reviews_container::-webkit-scrollbar {
  height: 10px;
}
.reviews_container::-webkit-scrollbar-thumb {
  background-color: var(--yellow);
}

.review {
  min-width: 300px;
  aspect-ratio: 1 /1;
  background-color: var(--gray);
  overflow: hidden;
  padding: 3vw;
}
.review_header {
  display: flex;
  gap: 10px;
}
.initials {
  width: 30px;
  height: 30px;
  display: grid;
  place-items: center;
  color: var(--black);
  background: var(--yellow);
  font-weight: 600;
  font-size: 1.4rem;
}
.client_details {
  color: white;
}
.rating {
  color: var(--yellow);
}
.review_desc {
  margin-top: 10px;
  height: 70%;
  overflow-y: scroll;
  padding: 5px;
  color: white;
  font-size: 1.4rem;
}

@media (max-width: 600px) {
  .review_section {
    padding-left: 10rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .review {
    min-width: 200px;
    aspect-ratio: 1 /1;
    background-color: var(--gray);
    overflow: hidden;
    padding: 3vw;
  }
  .reviews_container {
    margin-top: 2rem;
  }
  .reviews_container::-webkit-scrollbar {
    height: 0px;
  }
  .review_desc {
    font-size: 1.2rem;
    font-weight: 300;
  }
}
