.about_section {
  min-height: 100vh;
  background-color: var(--black);
  position: relative;
  padding-left: 10rem;
  padding-top: 5rem;
}
.about_section::before {
  content: "";
  position: absolute;
  height: 50%;
  width: 100%;
  background-color: var(--gray);
  z-index: 1;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.about_section_header p {
  color: white;
  font-size: 8vw;
  line-height: 0.8;
  font-weight: 300;
  letter-spacing: 10px;
}

.about_section_content {
  background-color: white;
  padding: 6rem;
  position: relative;
  margin-top: 10px;
  max-width: 1300px;
}
.about_section_content p {
  font-size: 1.6rem;
}
.wink {
  position: absolute;
  right: 40px;
  top: -40px;
  height: 80px;
  width: 80px;
}
@media (max-width: 600px) {
  .about_section {
    padding-left: 7rem;
  }
  .about_section_content {
    padding: 2rem;
    padding-top: 4rem;
  }
  .about_section_content p {
    font-size: 1.2rem;
    word-spacing: 4px;
  }
  .wink {
    position: absolute;
    right: 30px;
    top: -30px;
    height: 60px;
    width: 60px;
  }
  .about_section_content {
    margin-top: 50px;
  }
}
