@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@700&family=Poppins:wght@300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --yellow: #faff00;
  --gray: #242424;
  --black: #131313;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
